body{
	background-color: rgb(44, 43, 43);
}

.grid-container{
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-gap: 15px;
}

.grid-container > div {
border: 2px solid rgb(116, 116, 211);
font-size: 20pt;
text-align: center;
background-color: rgb(117, 110, 110);
}

#header{
	grid-column: 1 / span 3;
}

#main1{
	grid-column: 1 / span 1;
}

#main2{
	grid-column: 2 / span 1;
}

#right{
	grid-column: 3 / span 1;
}

#footer{
	grid-column: 1 / span 3;
}

@media only screen and (max-width: 768px) {
	.grid-container{
		display: grid;
		grid-template-columns:  auto 23%;
		grid-gap: 15px;
	}
	
	.grid-container > div {
	border: 2px solid rgb(116, 116, 211);
	font-size: 20pt;
	text-align: center;
	background-color: rgb(117, 110, 110);
	}
	#header{
		grid-column: 1 / span 2;
	}
	
	#main1{
		grid-column: 1 / span 2;
	}
	
	#main2{
		grid-column: 1 / span 1;
	}
	
	#right{
		grid-column: 2 / span 1;
	}
	
	#footer{
		grid-column: 1 / span 2;
	}
	
}

@media only screen and (max-width: 500px) {
	.grid-container{
		display: grid;
		grid-template-columns: auto;
		grid-gap: 15px;
	}
	
	.grid-container > div {
	border: 2px solid rgb(116, 116, 211);
	font-size: 20pt;
	text-align: center;
	background-color: rgb(117, 110, 110);
	}
	#header{
		grid-column: 1 / span 1;
	}
	
	#main1{
		grid-column: 1 / span 1;
	}
	
	#main2{
		grid-column: 1 / span 1;
	}
	
	#right{
		grid-column: 1 / span 1;
	}
	
	#footer{
		grid-column: 1 / span 1;
	}
	
}
.flex_container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.flex_container > div{
    border: 3px solid rgb(53, 41, 41);
    width: 200px;
    margin-right: 10px;
    margin-bottom: 10px ;
}
.flex_container > div img{ 
	width: 100%;
}
div{
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 15pt;
	text-align: left;
}
li{
	text-align: left;
}
ol{
	text-align: left;
}
p{
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size:20pt ;
	margin-top: 40px;
	text-align: center;
	font-weight: bold;
}
